.message {
    color: rgb(155, 154, 154);
    font-weight: bold;
}

.typing {
    color: rgb(155, 154, 154);
    font-size: 10px;
    margin-left: 2.5px;
    margin-right: 2.5px;
    overflow-x: hidden;
}